{% set id = random() %}
{% set prototype = '<div class="post-component post-component-article"><input type="hidden" name="component[article][__length__][id]" /><textarea name="component[article][__length__][body]"></textarea></div>' %}
{% set articleCount = 0 %}
{% set articleContent %}
    {% if articles %}
        {% set articleCount = articles|length %}
        {% for i,article in articles %}
            <div class="post-component post-component-article">
                <input type="hidden" name="component[article][{{ i }}][id]" value="{{ article.id }}" />
                <input type="hidden" name="component[article][{{ i }}][order]" value="{{ article.order }}" />
                <textarea name="component[article][{{ i }}][body]">{{ article.body | raw }}</textarea>
            </div>
        {% endfor %}
    {% endif %}
{% endset %}

<a href="#" id="addarticle{{ id }}" data-prototype='{{ prototype }}'>Add Article</a>
<script type="text/javascript">
    var articleFormCount = {{ articleCount }};
    $('#addarticle{{ id }}').on('click', function(){
        var prototype = $($(this).data('prototype').replace(/__length__/g, articleFormCount));
        $('#PostContent').append(prototype);
        prototype.find('textarea').ckeditor().focus();
        ++articleFormCount;
    });
    $(document).ready(function(){
        $('#PostContent').append("{{ articleContent|e('js') }}").find('.post-component-article > textarea').ckeditor();
    });
</script>
