{% set tagComponentId = random() %}
<div class="row">
    <div class="col-xs-12">
        <input style="width: 100%" id="tags{{ tagComponentId }}" value="{% if tagEntities %}{% for tag in tagEntities %}{{ tag.name }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}" />
        <div id="tagstore{{ tagComponentId }}"></div>
    </div>
</div>
<script type="text/javascript">
    $('#tags{{ tagComponentId }}').select2({
        tags: [{% for tag in tags %}"{{ tag.name }}",{% endfor %}],
        tokenSeparators: [",", " "]
    });
    $('#tags{{ tagComponentId }}').on('change', function(e){
        var store = $('#tagstore{{ tagComponentId }}');
        store.empty();
        for(var i=0 ; i<e.val.length ; ++i){
            store.append('<input type="hidden" name="component[tag]['+i+'][name]" value="'+ e.val[i]+'" />');
        }
    });
</script>
