{% extends 'LineStormCmsBundle::layout.html.twig' %}

{% block title %}Articles About {{ category.name | capitalize }}{% endblock %}

{% block page_title %}
    {{ category.name | capitalize }} Articles
{% endblock %}

{% block head %}
    {{ parent() }}

    {% stylesheets
        filter="compass" output="assets/bundles/linestormpost/css/list.css"
        "@LineStormPostBundle/Resources/assets/sass/list.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h1>Category: {{ category.name | capitalize }}</h1>

    {% if posts|length %}
        <div class="posts-container">
            {% include 'LineStormPostBundle:Post:list.html.twig' %}
        </div>
    {% else %}
        <div class="center-block no-posts">
            <h2 class="text-muted">There are no posts in this category yet</h2>
        </div>
    {% endif %}
{% endblock %}
