{% extends 'LineStormCmsBundle::layout.html.twig' %}
{% set page = 'blog' %}

{% block head %}
    {% block requirejs %}
        {{
            include('AndyPortfolioBundle::requirejs.html.twig', {
                requirejs_module: ['app/main']|merge(module.componentViewAssets)
            })
        }}
    {% endblock %}
{% endblock %}

{% block meta_keywords %}{{ post.metaKeywords }}{% endblock %}
{% block meta_desc %}{{ post.metaDescription }}{% endblock %}

{% block title %}{{ post.title | capitalize }} in {{ post.category.name }}{% endblock %}

{% block page_title %}
    {{ post.title | capitalize }}
{% endblock %}

{% block body %}
    {% if app.user and post.author and (app.user.id == post.author.id or app.user.hasGroup('admin')) %}
        <div class="pull-right navbar-nav navbar">
            <a href="{{ path('linestorm_cms_module_post_admin_edit', {id: post.id}) }}" class="btn btn-primary" id="article-edit"><i class="fa-edit"></i> Edit</a>
        </div>
    {% endif %}
    <style type="text/css">
        .article-image {
            width: 100%;
        }
    </style>
    <section class="article">
        <article id="article-body blog">
            <div class="content">

                <img class="article-image" src="{{ post.coverImage.src }}" alt="{{ post.coverImage.alt }}" credits={{ post.coverImage.credits }} />

                <div class="article-details">
                    <div class="pull-left">
                        <a class="label label-success" rel="directory" href="{{ url('linestorm_cms_category', {category: post.category.name}) }}">{{ post.category.name }}</a>
                        {% for tag in post.tags %}
                            <a class="label label-primary" href="{{ path('linestorm_cms_tag', {tag: tag.name} ) }}" rel="tag">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="pull-right">
                        By {{ post.author.username }} on
                        <time datetime="{{ post.liveOn | date("Y-m-d\\TH:i:sP") }}"  pubdate="pubdate">{{ post.liveOn | date("F d, Y") }}</time>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <hr />

                {% for content in post.content %}
                    <div class="post-content">
                        {% set view = render_post_component_view(content) %}
                        {% if view %}
                            {% include view.template ignore missing with view.options %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        </article>
    </section>

    <aside>
        {#
            Get a list of next articles
        #}
        {% include 'LineStormPostBundle:Post:top-ten.html.twig' %}

    </aside>
{% endblock %}
