{% extends 'LineStormCmsBundle::layout.html.twig' %}
{% set page = 'blog' %}

{% block head %}
    {% block requirejs %}
        {{
            include('AndyPortfolioBundle::requirejs.html.twig', {
                requirejs_module: ['app/main', 'ace/ace']|merge(module.componentViewAssets)
            })
        }}
    {% endblock %}

    {% stylesheets
        filter="compass" output="assets/bundles/linestormpost/css/view.css"
        "@LineStormPostBundle/Resources/assets/sass/view.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="//yandex.st/highlightjs/8.0/styles/default.min.css">
    <script type="text/javascript">
       require(['highlightjs'], function(hjs){

       });
    </script>
{% endblock %}

{% block meta_keywords %}{{ post.metaKeywords }}{% endblock %}
{% block meta_desc %}{{ post.metaDescription }}{% endblock %}

{% block title %}{{ post.title | capitalize }} in {{ post.category.name }}{% endblock %}

{% block page_title %}
    {{ post.title | capitalize }}
{% endblock %}

{% block body %}
    {% if app.user and post.author and (app.user.id == post.author.id or app.user.hasGroup('admin')) %}
        <div class="pull-right navbar-nav navbar" style="position: absolute; right: 0">
            <a href="{{ path('linestorm_cms_module_post_admin_edit', {id: post.id}) }}" class="btn btn-primary" id="article-edit"><i class="fa-edit"></i> Edit</a>
        </div>
    {% endif %}

    <section class="main">
        <article id="article-body blog">
            <div class="content">

                <img class="article-image" src="{{ post.coverImage.src }}" alt="{{ post.coverImage.alt }}" credits={{ post.coverImage.credits }} />

                <div class="article-details">
                    <div class="pull-left">
                        {% include 'LineStormPostBundle:Category:label.html.twig' with {category: post.category} %}
                        {% include 'LineStormPostBundle:Component/Tag:view.html.twig' with {content: post.tags} %}
                    </div>
                    <div class="pull-right">
                        By {{ post.author.username | capitalize }} on
                        <time datetime="{{ post.liveOn | date("Y-m-d\\TH:i:sP") }}"  pubdate="pubdate">{{ post.liveOn | date("F d, Y") }}</time>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <p>
                            {{ include('LineStormPostBundle::social.html.twig') }}
                        </p>
                    </div>
                </div>

                <hr />

                {% for content in post.content %}
                    <div class="post-content">
                        {% set view = render_post_component_view(content) %}
                        {% if view %}
                            {% include view.template ignore missing with view.options %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        </article>
    </section>

    <section class="side">
        <div class="side-widget">
            <h3>Related Articles</h3>
            {% include 'LineStormPostBundle:Post:related.html.twig' with {to: post} %}
        </div>

        <div class="side-widget">
            <h3>Top 10 Articles</h3>
            {% include 'LineStormPostBundle:Post:top-ten.html.twig' %}
        </div>

    </section>
{% endblock %}
