{% for i,top_post in cms_post_top_ten() %}
    {% set top_url = url('linestorm_cms_post', {category: top_post.category.name, id: top_post.id, slug: top_post.slug}) %}


    <div class="media">
        <span class="media-count">
            {{ i+1 }}
        </span>
        <a class="pull-left" href="{{ top_url }}">
            <img class="media-object" src="{{ top_post.coverImage.src }}" alt="{{ top_post.coverImage.alt }}">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                <a class="media" href="{{ top_url }}">
                    {{ top_post.title }}
                </a>
            </h4>
            <p>
                {% include 'LineStormPostBundle:Category:label.html.twig' with {category: top_post.category} %}
            </p>
        </div>
    </div>

    {% if not loop.last %}
        <hr />
    {% endif %}
{% endfor %}
