{% extends 'LineStormCmsBundle::layout.html.twig' %}

{% block title %}Articles About {{ tag.name }}{% endblock %}

{% block page_title %}
    {{ tag.name }} Articles
{% endblock %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset(assetsPath ~ '/css/cms/post/list.css') }}" />
{% endblock %}

{% block body %}
    <h1>Tag: {{ tag.name }}</h1>

    {% if posts|length %}
        <div class="posts-container">
            {% include 'LineStormPostBundle:Post:list.html.twig' %}
        </div>
    {% else %}
        <div class="center-block no-posts">
            <h2 class="text-muted">There are no posts with this tag yet</h2>
        </div>
    {% endif %}

{% endblock %}
