{% extends 'LineStormBlogBundle:Admin:index.html.twig' %}

{% block page_title %}
    {{ post.category.name|capitalize }} <i class="fa-angle-right"></i> {{ post.title|capitalize }}
{% endblock %}

{% block page_desc %}
    by {{ post.author.username }} on {{ post.liveOn|date('d/m/Y H:i') }} |
    {% for tag in post.tags %}
        <a href="#" class="label label-default">{{ tag.name }}</a>
    {% endfor %}
{% endblock %}

{% block module %}
    <article>
        {% for content in post.content %}
            <div class="post-content">
                {{ render_post_component_view(content) }}
            </div>
            <hr />
        {% endfor %}
    </article>
{% endblock %}
